/*Resetting the page */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root {
    --page-color: #ff7200;
    --page-color2: #fff;
    --page-color3: #000;
    --font: Georgia;
    --main-gray: #303841;
}
/*Header and navbar styling */
.head{
    width: 100%;
    height: 7vh;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    display: inline-block;
    margin: 0 20px;
}
.logo-image {
    width: 47px;
    height: 38px;
    transition: all .3s ease-in-out;
}
.logo-image:hover {
    scale: 1.1;
}
.logo-name {
    position: absolute;
    top: 0;
    margin: auto 8px;
    padding: 0;
    font-size: 3.8rem;
    font-weight: bold;
    font-family: var(--font);
}
#day {
    color: var(--page-color);
}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    gap: 30px;
    font-size: 20px;
    font-style: italic;
    transition: 0.4s ease-in;
    font-family: var(--font);
    font-weight: bold;
}
.nav ul li {
    list-style: none;
    transition: all 0.4s ease-in;
}
.nav ul li:hover {
    scale: 1.2;
}
.nav ul li a {
    text-decoration: none;
    color: var(--page-color3);
    transition: all 0.4s ease;
}
.nav ul li a:hover{
    color: var(--page-color);
    cursor: pointer;
}
/*First page styling */
.welcome{
    background: linear-gradient(to top, rgb(0,0,0,0.56)50%, rgb(0,0,0,0.56)50%), url('images/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    color: var(--page-color2);
}
.home {
    width: 60vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
.name {
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.8rem;
    gap: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
.list li {
    list-style: none;
    transition: all 0.3s ease-in-out;
}
.list li:hover{
    scale: 1.2;
}
.list a {
    text-decoration: none;
    color: var(--page-color);
    transition: all 0.4s ease-in-out;
}
.list a:hover {
     /* Thinking of updating the hover color */
    cursor: pointer;
    scale: 1.2;
}
.description {
    font-size: 2.4rem;
    margin: 20px;
    Font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}
.btn {
    width: 120px;
    height: 45px;
    font-size: 2rem;
    font-style: italic;
    font-weight: normal;
    background-color: var(--page-color);;
    color: var(--page-color2);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease-in;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn:hover {
    background-color: var(--page-color2);
    color: var(--page-color3);
}
/*Second page/ (services) styling */
.services {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: auto;
    background: linear-gradient(to top, rgb(0,0,0,0.5)50%, rgb(0,0,0,0.5)50%), url('images/background3.jpg');
    background-size: cover;
    background-position: center;
    color: var(--page-color2);
    z-index: -1;
}
.services-title {
    margin: 50px auto;
    font-size: 4.4rem;
    font-family: var(--font);
    font-weight: bold;
    font-style: italic;
}
.services-container {
    width: 80vw;
    height: auto;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
}
.services-container h2 {
    margin-bottom: 15px;
    font-size: 4rem;
    color: var(--page-color);
    font-family: var(--font);
    font-style: normal;
}
.services-container li {
    margin: 15px;
    list-style: disc;
}
/*Third page (samples) styling */
.samples {
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    background: linear-gradient(to top, rgb(0,0,0,0.5)50%, rgb(0,0,0,0.5)50%), url('images/background6.jpg');
    background-size: cover;
    background-position: center;
    color: var(--page-color2);
}
.samples-title {
    margin: 50px auto;
    font-size: 4.4rem;
    font-family: var(--font);
    font-weight: bold;
    font-style: italic;
}
.samples-container  {
    width: 98vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.samples-container div {
    width: 98%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 5%;
    background-color: var(--page-color2);
    transition: all .3s ease-in-out;
}
.samples-container div:hover {
    scale: 1.1;
    cursor: pointer;
}
.sample-image {
    width: 100%;
    height: 46vh;
    border-radius: 5% 5% 0 0;
}
.samples-container h2 {
    width: inherit;
    height: 70px;
    font-family: var(--font);
    font-style: italic;
    font-size: 1.5rem;
    color: var(--page-color3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/*Contacts styling */
.contacts {
    width: 100%;
    height: 50vh;
    background-color: var(--main-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    color: var(--page-color2);
}
.contacts-title {
    margin: 0 auto;
    font-size: 4.4rem;
    font-family: var(--font);
    font-weight: bold;
    font-style: italic;
    color: var(--page-color);
}
.contacts-container {
    width: 60%;
    height: 30vh;
}
.contacts-container p {
    font-style: italic;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
}
/*Icons styling */
.icons{
    font-size: 3rem;
}
.fa {
    padding: 10px;
    background-color: var(--page-color);
    width: 60px;
    height: 50px;
    color: var(--page-color2);
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    margin: 20px 10px;
    text-decoration: none;
    text-align: center;
}
.fa:hover {
    background-color: var(--page-color2);
    color: var(--page-color);
    cursor: pointer;
    scale: 1.2;
}
hr {
    width: 100%;
    margin: 10px 0;
}
/*Footer styling*/
.footer {
    width: 100%;
    height: 8vh;
    background-color: var(--main-gray);
    color: var(--page-color2);
    display: block;
    font-size: 1.5rem;
    font-family: var(--font);
    font-weight: normal;
    font-style: italic;
    padding: 10px;
    margin: 0;
}